USE [Facturacion]
GO
/****** Object:  StoredProcedure [dbo].[tRubro_obtenerLista]    Script Date: 14/01/2015 14:22:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[tRubro_obtenerLista]

AS

SELECT * FROM t_rubro